<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
    <ng-container *ngIf="loginuser?.usertypeID != 3">
    <ion-toolbar color="light" *ngIf="classes">
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-item>
          <ion-label>{{language?.routine_classes}}</ion-label>
          <ion-select placeholder="{{language?.routine_select_classes}}" #select [(ngModel)]="selectedClass" (ionChange)="selectedClasses()">
            <ion-select-option  *ngFor="let class of classes" value="{{class.classesID}}">{{class.classes}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
    </ng-container>
</ion-header>

<ion-content   class="bg-image no-scroll" >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, classesID,true)" *ngIf="isRefresh">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-slides [options]="slideOpts" *ngIf="routines">
        <ng-container *ngFor="let routine of routines; let i = index">
            <ion-slide  *ngIf="routine !='Weekend' && routine !=null">
                <ion-content>
                    <div class="div-first">
                        <ion-card-header  class="routine-header">
                            <p>{{days[i].day}}</p>
                        </ion-card-header>
                        <ion-card  class="card-routine" *ngFor="let rotn of routine">
                            <div class="card-class">
                                <h3 class="text-color-h">{{rotn.subject}}</h3>
                                <ion-item class="p-text ion-item-css" >
                                    <ion-avatar class="avatar-img">
                                        <img src="assets/routine.png" />
                                    </ion-avatar>
                                    <ion-label>
                                        <h4>{{language?.routine_start_time}} - {{language?.routine_end_time}}</h4>
                                        <ion-text color="secondary">
                                            <p>{{rotn.time}}</p>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                                <ion-item class="p-text ion-item-css" >
                                    <ion-avatar class="avatar-img">
                                        <img src="assets/teacher.png" />
                                    </ion-avatar>
                                    <ion-label>
                                        <h4>{{language?.Teacher}}</h4>
                                        <ion-text color="secondary">
                                            <p>{{rotn.teacher}}</p>
                                        </ion-text>
                                    </ion-label>
                                </ion-item>
                            </div>
                        </ion-card>
                    </div>
                </ion-content>
            </ion-slide>
        </ng-container>
    </ion-slides>
</ion-content>

