<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}} {{language?.view}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true,mailsmsID)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="mailandsms">
    <ion-card class="card-bg">
      <div class="card-class">
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/sms.png" />
          </ion-avatar>
          <ion-label>
            <ion-text>
              <p>{{mailandsms.type}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <p align="center">{{mailandsms?.create_date | date: "dd MMM yyyy HH:mm:ss"}}</p>
          <span>{{mailandsms?.message}}</span>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card class="card-bg">
      <div class="card-class">
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/user.png" />
          </ion-avatar>
          <ion-label>
            <ion-text>
              <p>{{language?.mailandsms_reciver_users}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <p>{{mailandsms.users}}</p>
        </ion-card-content>
      </div>
    </ion-card>
  </ng-container>
</ion-content>