
<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="activitiescategorys">
    <ion-card class="card-bg" *ngFor="let activitiescategory of activitiescategorys; let i = index">
      <div class="card-class">
        <h3 class="text-color-h">{{language?.menu_activitiescategory}} ({{i+1}})</h3>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/activities.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{activitiescategory.title}}</h4>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>