
<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="products">
    <ion-card class="card-bg"  *ngFor="let product of products">
      <div class="card-class">
        <h3 class="text-color-h">{{product.productname}}</h3>
        <p class="text-color-p">{{productcategorys[product.productcategoryID]}}</p>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/salary.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.product_buyingprice}}</h4>
            <ion-text>
              <p>{{product.productbuyingprice}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/salary.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.product_sellingprice}}</h4>
            <ion-text>
              <p>{{product.productsellingprice }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>
