
.ion-content-css {
  width: 100%;
  height: 100%;
}
.div-overflow-css {
  overflow-x:scroll;
}
.div-margin-css {
  margin-top: 10px;
}
.ion-card-span {
  font-weight: bold;
}
.ion-icon-css {
  float: right;
}
.ion-card-css {
  margin: 0px;
  margin-bottom: 10px;
}

.card-routine-div {
  margin: 8px;
}

.bg-class{
  --background: #ffff !important;
}

.div-bg{
  background-color: #ef1961 !important;

}

.ion-item-css{
  --ion-background-color:#adadaffc !important;
}

.avatar-img {
  margin-right: 8px;
}

.text-div {
  text-align:start;
}

.text-h {
  font-size:17px;
  color:#000000;
}

.text-p {
  font-size: 13px;
  margin: 2px;
  color: #000000;
}

.relative-card{
  position: relative;
  bottom: 50px;
}
.imgcard{
  margin:  10px;
}
.card-bg{
  --background: #ffff !important;
  margin-top: 10px;
  border-radius: 15px;

}
.card-header1{
  --background:#1D223a;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-header2{
  --background:#1D223a;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 1px;
}

.card-header {
  --background: #1D223a;
  color: #ffffff;
  margin-top: 1px;
}
.img2{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
}
.ionnote{
  color: black;
  font-size: 12px;
}
.row {
  border: 1px solid;
}
.row p {
  color:black;
}
.item{
  border-bottom-color: #989aa2;
}
.item-p {
  font-size: 13px;
  color: #666;
}
.username{
  font-size: 14px;
  margin: 0px;
  color:white;
}

.hedding{
  line-height: 0px;
  font-size: 17px;
  color:white;
}

.ion-text-p {
  font-size: 13px;
  color: #ffffff;
}
.ion-text-h {
  font-size: 17px;
  color: #ffffff;
}

