
<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="holidays?.length > 0">
    <ion-card class="card-bg"  *ngFor="let holiday of holidays" routerLink="/holidayview/{{holiday.holidayID}}">
      <div class="card-class">
        <ion-row>
          <ion-col size="4">
            <ng-container *ngIf="holiday.photo;else img_content">
              <img class="notice-img" src="{{siteUrl}}uploads/images/{{holiday.photo}}">
            </ng-container>
            <ng-template #img_content>
              <img class="notice-img" src="assets/holiday.png">
            </ng-template>
          </ion-col>
          <ion-col size="8">
            <div class="text-div">
              <h4 class="text-color-h"> {{holiday.title}}</h4>
            </div>
          </ion-col>
        </ion-row>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/routine.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.holiday_date}}</h4>
            <ion-text>
              <p>{{holiday.fdate |date: "dd MMM yyyy"}} - {{holiday.tdate |date: "dd MMM yyyy"}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>