
.div-margin {
  margin: 8px;
}
.user-img{
  width:80%;
  border-radius: 50%;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
}
.avatar-img {
  margin-right: 8px;
}

.ion-item-css{
  --ion-background-color:#adadaffc !important;
}

.text-div {
  text-align:start;
}

.text-h {
  font-size:17px;
  color:#000000;
}

.ion-text-p {
  font-size: 13px;
  color: #ffffff;
}
.ion-text-h {
  font-size: 17px;
  color: #ffffff;
}

.text-p {
  font-size: 13px;
  margin: 2px;
  color: #000000;
  line-height: 0px;
}

.ion-card-css {
  margin:0px;
  margin-bottom: 10px;
}

.card-user-css {
  --background: #ffff !important;
  margin-top: 10px;
  border-radius: 15px;
}


.ion-item-css{
  --ion-background-color:#adadaffc !important;
}
.card-content-css {
  margin-top: 10px;
}
.avatar-img {
  margin-right: 8px;
}

.text-div {
  text-align:start;
}

.text-h {
  font-size:17px;
  color:#000000;
}

.text-p {
  font-size: 13px;
  margin: 2px;
  color: #000000;
  line-height: 0px;
}







.ion-content-css {
  width: 100%;
  height: 100%;
}
.div-overflow-css {
  overflow-x:scroll;
}
.div-margin-css {
  margin-top: 10px;
}
.ion-card-span {
  font-weight: bold;
}
.ion-icon-css {
  float: right;
}
.ion-card-css {
  margin: 0px;
  margin-bottom: 10px;
}

.card-routine-div {
  margin: 8px;
}

.bg-class{
  --background: #ffff !important;
}

.div-bg{
  background-color: #ef1961 !important;

}

.ion-item-css{
  --ion-background-color:#adadaffc !important;
}

.avatar-img {
  margin-right: 8px;
}

.text-div {
  text-align:start;
}

.text-h {
  font-size:17px;
  color:#000000;
}

.text-p {
  font-size: 13px;
  margin: 2px;
  color: #000000;
  line-height: 0px;
}

.relative-card{
  position: relative;
  bottom: 50px;
}
.imgcard{
  margin:  10px;
}
.card-bg{
  --background: #ffff !important;
  margin: 0px;
  margin-top: 10px;
  border-radius: 15px;

}
.card-bg1{
  --background: #ffff !important;
  margin-top: 10px;
  border-radius: 15px;

}
.card-header1{
  --background:#1D223a;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-header2{
  --background:#1D223a;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 1px;
}

.card-header {
  --background: #1D223a;
  color: #ffffff;
  margin-top: 1px;
}
.img2{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
}
.ionnote{
  color: black;
  font-size: 12px;
}
.row {
  border: 1px solid;
}
.row p {
  color:black;
}
.item{
  border-bottom-color: #989aa2;
}
.item-p {
  font-size: 13px;
  color: #666;
}
.username{
  font-size: 14px;
  margin: 0px;
  color:white;
}

.hedding{
  line-height: 0px;
  font-size: 17px;
  color:white;
}

.ion-text-p {
  font-size: 13px;
  color: #ffffff;
}
.ion-text-h {
  font-size: 17px;
  color: #ffffff;
}
.invoice-header {
  background-color: #989aa2;color: #000000;
}

.subject-header{
  --background:#1D223a;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.invoice-header {
  background-color: #1D223a;
  color: #ffffff;
}


.routine-header{
  --background:#1D223a;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
  height: 60px;
}

.routine-header p{
  margin: 6px;
  font-weight: bold;
}

.card-routine{
  --background: #1D223a !important;
  margin-top: 20px;
  border-radius: 15px;
}
.text-color-h{
  text-align: start;
  font-size: 17px;
  color: #000000;
}
.text-color-p {
  text-align: start;
  color: #000000;
  font-size: 13px;
  line-height: 0px;
}


ion-slides {
  height: 100%;
  width:100%;
}


.attendance_table {
  width: 100%;
}
.attendance_table tr th {
  text-align: center;
  border: 0.1px solid #ddd;
  color: #232a2f;
  font-weight: 400;
  padding: 10px 14px;
}

.attendance_table tr td {
  text-align: center;
  border: 0.1px solid #ddd;
  padding: 10px 14px;
  color: #232a2f !important;
  margin-top: 1px;
}
.P-color {
  background: #5eb171 !important;
}

.A-color {
  background: #e8737e!important;
}

.W-color {
  background: #5fbfce!important;
}

.H-color {
  background: #6a94c1!important;
}
.L-color {
  background: #7044ff!important;
}

.NA-color {
  background: #8cb0d0!important;
}

.p-color {
  background: #5eb171 !important;
}

.a-color {
  background: #e8737e!important;
}

.w-color {
  background: #5fbfce!important;
}

.h-color {
  background: #6a94c1!important;
}
.l-color {
  background: #7044ff!important;
}

.na-color {
  background: #8cb0d0!important;
}
