
.card-bg{
  --background: #ffff !important;
  margin-top: 10px;
  border-radius: 15px;

}

.button-download {
  float: right;
}
.card-header{
  --background:#989aa2;
  color: black;
}

.p-text p {
  font-size: 13px;
  color: #ffffff;
}
.p-text h4 {
  font-size: 16px;
  color: #ffffff;

}

.card-class {
  margin: 8px;
}
.card-class .text-color-h{
  text-align: start;
  font-size: 17px;
  color: #000000;
}
.card-class .text-color-p {
  text-align: start;
  color: #000000;
  font-size: 13px;
  line-height: 0px;
}

.ion-item-css {
  --ion-background-color:#adadaffc !important;
}
.avatar-img {
  margin-right: 15px;
}