<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title }}</ion-title>
  </ion-toolbar>
  <ng-container *ngIf="loginuser?.usertypeID != 3">
  <ion-toolbar color="light" *ngIf="classes">
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-item>
          <ion-label>{{language?.examschedule_classes}}</ion-label>
          <ion-select placeholder="{{language?.examschedule_select_classes}}" #select [(ngModel)]="selectedClass" (ionChange)="selectedClasses()">
            <ion-select-option  *ngFor="let class of classes" value="{{class.classesID}}">{{class.classes}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  </ng-container>

</ion-header>

<ion-content   class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, true, classID)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="examschedules">
    <ion-card class="card-bg" *ngFor="let examschedule of examschedules">
      <div class="card-class">
        <h3 class="text-color-h">{{examschedule.exam}}</h3>
        <p class="text-color-p">{{language?.examschedule_classes}}: {{examschedule.classes}} ({{examschedule.section}})</p>
        <ion-item class="p-text ion-item-css" >
          <ion-avatar style="margin-right: 10px">
            <img src="assets/subject.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{examschedule.subject}}</h4>
            <ion-text color="secondary">
              <p>{{language?.examschedule_room}} ({{examschedule.room}})</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item class="p-text ion-item-css" >
          <ion-avatar style="margin-right: 10px">
            <img src="assets/routine.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.examschedule_date}}</h4>
            <ion-text color="secondary">
              <p>{{examschedule.edate |date:"dd MMM yyyy"}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/routine.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.examschedule_examfrom}} - {{language?.examschedule_examto}}</h4>
            <ion-text color="secondary">
              <p>{{examschedule.examfrom}}    -   {{examschedule.examto}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>
