<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="question_banks?.length > 0">
    <ion-card class="card-bg" *ngFor="let question_bank of question_banks" routerLink="/questionbankview/{{question_bank.questionBankID}}" >
      <div class="card-class">
        <h3 class="text-color-h"><span [innerHTML]="question_bank.question"></span></h3>
        <ion-item class="p-text ion-item-css" >
          <ion-avatar style="margin-right: 10px">
            <img src="assets/questiongroup.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{groups[question_bank.groupID].title}}</h4>
            <ion-text color="secondary">
              <p>{{question_bank.create_date | date: "dd MMM yyyy HH:mm:ss"}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>
