.img2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
}
.imgcard{
  margin:  10px;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}



#icon-css {
  font-size: 15px;
  margin-right: 5px;
}

.box0{
  color: white;
  border-radius: 5px;
  background: #1B9BFB;
  margin-right: 5px;
}

.box1{
  color: white;
  border-radius: 5px;
  background:  #ef1961;
  margin-right: 5px;
}
.box2{
  color: white;
  border-radius: 5px;
  background:  #FDC031;
  margin-right: 5px;
}

.box3{
  color: white;
  border-radius: 5px;
  background:  #4EB876;
  margin-right: 5px;
}
.h2-style{
  color: white;
  margin: 15px;
  line-height: 0px;

}

.student-info{
  background: #1D223a;
  color: white;
  border-radius: 10px;
  margin-right: 5px;

}

.student-info-img{
  margin-top:10px;

}

.student-info-img img{
  width: 65%;
}

.student-info-p{
  margin: 5px;

}

.student-activities{
  background: #EFEFEF;
  color: black;
  border-radius: 10px;
  margin-right: 5px;

}

.student-activities-img{
  margin-top:10px;

}

.student-activities-img img{
  width: 65%;
}

.student-activities-p{
  margin: 5px;

}


.card-bg{
  --background: #ffff !important;
  margin-top: 10px;
}


.card-header{
  --background: #dc143c;
  color:#ffff;
  text-align: center;
  font-size: 16px;
}

.card-header span {
  font-weight: bold;
}

.p-text p {
  font-size: 13px;
  color: #ffffff;
  margin:0px;
}
.p-text h3 {
  font-size: 18px;
  color: #1D223a;;

}

.card-class {
  margin: 8px;
}
.card-class .text-color-h{
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.card-class .text-color-p {
  text-align: start;
  color: #000000;
  font-size: 13px;
  line-height: 0px;
}

.footer-css {
  background-color:#8601af !important;
}

.notice-img {
  width:80%;
  border-radius: 50%;
  margin: auto;
  border: 4px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
}