
<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="certificatetemplates">
    <ion-card class="card-bg"  *ngFor="let certificatetemplate of certificatetemplates"   routerLink="/certificatetemplateview/{{certificatetemplate.certificate_templateID}}">
      <div class="card-class">
        <h4 class="text-color-h">{{certificatetemplate.top_heading_title}}</h4>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/medal.png" />
          </ion-avatar>
          <ion-label>
            <ion-text>
              <p>{{certificatetemplate.name}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>
