
.card-bg{
  --background: white !important;
  margin-top: 10px;
  border-radius: 15px;

}


.p-text p {
  font-size: 13px;
  color: #666;
}
.p-text h4 {
  font-size: 13px;
  color: #000000;
}

.book-header{
  --background:#1D223a;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 5px;
  text-align: start;
}