<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}} {{language?.view}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true,complainID)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="complain && userprofile">
    <ion-card class="card-bg">
      <div class="card-class">
        <ion-row>
          <ion-col size="4">
            <ng-container *ngIf="userprofile.photo;else img_content">
              <img class="notice-img" src="{{siteUrl}}uploads/images/{{userprofile.photo}}">
            </ng-container>
            <ng-template #img_content>
              <img class="notice-img" src="assets/complaint.png">
            </ng-template>
          </ion-col>
          <ion-col size="8">
            <div class="text-div">
              <h4 class="text-color-h"> {{userprofile?.name}}</h4>
              <p class="text-color-p"> {{userprofile?.sex}}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/routine.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.complain_dob}}</h4>
            <ion-text>
              <p>{{userprofile?.dob | date: "dd MMM yyyy"}}</p>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/sms.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.complain_phone}}</h4>
            <ion-text>
              <p>{{userprofile?.phone}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
    <ion-card class="card-bg">
      <div class="card-class">
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/complaint.png" />
          </ion-avatar>
          <ion-label>
            <ion-text>
              <p>{{complain.title}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <span [innerHTML]="complain?.description"></span>
        </ion-card-content>
      </div>
    </ion-card>
  </ng-container>
</ion-content>

