<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" *ngIf="datePickerObj">
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-item>
          <ion-label>{{language?.uattendance_date}}</ion-label>
          <li-ionic4-datepicker [(ngModel)]="myDate" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button (click)="addAttendance()">Add</ion-button>
    <ion-button style="float: right" (click)="submitAttendance()" *ngIf="submitbutton">Submit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  class="bg-image no-scroll">
  <ion-card *ngIf="dateinfo" class="background-color card-bg1">
    <ion-card-header>
      <div align="center" class="div-p">
        <p>{{language?.uattendance_details}}</p>
        <p>{{language?.uattendance_day}} : {{dateinfo?.day}}</p>
        <p>{{language?.uattendance_date}} : {{dateinfo?.date}}</p>
      </div>
    </ion-card-header>
  </ion-card>
  <ng-container  *ngIf="users">
    <ion-card class="card-bg" *ngFor="let user of users">
      <div class="card-class">
        <ion-item lines="none" class="p-text ion-item-css">
          <ion-avatar slot="start">
            <img src="{{siteUrl}}uploads/images/{{user.photo}}">
          </ion-avatar>
          <ion-label>
            <h2>{{user.name}}</h2>
            <p>{{user.usertype}}</p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-radio-group>
            <ion-item class="float-left" lines="none" *ngIf="Previeuattendances[user.userID][aday] == 'P';else present_content"><span style="margin-right: 5px; color: green;">P</span><ion-radio mode="md"  [checked]="true" (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'P')" value="P" style="height: 16px;width: 16px;"></ion-radio></ion-item>
            <ng-template #present_content>
              <ion-item class="float-left" lines="none"><span style="margin-right: 5px; color: green;">P</span><ion-radio mode="md"  (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'P', $event)" value="P" style="height: 16px;width: 16px;"></ion-radio></ion-item>
            </ng-template>

            <ion-item  class="float-left" lines="none" *ngIf="Previeuattendances[user.userID][aday] == 'A';else a_content" ><span style="margin-right: 5px; color: #d33939">A</span><ion-radio mode="md" value="A" [checked]="true" (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'A')"  style="height: 16px;width: 16px;"></ion-radio></ion-item>
            <ng-template #a_content>
              <ion-item  class="float-left" lines="none"><span style="margin-right: 5px; color: #d33939">A</span><ion-radio mode="md" value="A"  (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'A')"  style="height: 16px;width: 16px;"></ion-radio></ion-item>
            </ng-template>

            <ion-item  class="float-left" lines="none" *ngIf="Previeuattendances[user.userID][aday] == 'L';else l_content"><span style="margin-right: 5px; color: #1D223a">L</span><ion-radio mode="md"  value="L"  [checked]="true" (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'L')"  style="height: 16px;width: 16px;"></ion-radio></ion-item>
            <ng-template #l_content>
              <ion-item  class="float-left" lines="none"><span style="margin-right: 5px; color: #1D223a">L</span><ion-radio mode="md"  value="L" (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'L')"  style="height: 16px;width: 16px;"></ion-radio></ion-item>
            </ng-template>

            <ion-item  class="float-left" lines="none"  *ngIf="Previeuattendances[user.userID][aday] == 'LA';else la_content"><span style="margin-right: 5px; color: #1B9BFB">LA</span><ion-radio mode="md"  value="LA" *ngIf="Previeuattendances[user.userID][aday] == 'LA';else la_content" [checked]="true" (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'LA')" style="height: 16px;width: 16px;"></ion-radio></ion-item>
            <ng-template #la_content>
              <ion-item  class="float-left" lines="none"><span style="margin-right: 5px; color: #1B9BFB">LA</span><ion-radio mode="md"  value="LA"  (ionSelect)="takeAttendance(Previeuattendances[user.userID].uattendanceID, 'LA')" style="height: 16px;width: 16px;"></ion-radio></ion-item>
            </ng-template>
          </ion-radio-group>
        </ion-card-content>
      </div>
    </ion-card>
  </ng-container>
</ion-content>
