<ion-header>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">{{language?.panel_title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="bg-image no-scroll">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event,true)" *ngIf="isRefresh">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container  *ngIf="leaveassign">
    <ion-card class="card-bg" *ngFor="let leave of leaveassign; let i = index">
      <div class="card-class">
        <h3 class="text-color-h">{{language?.menu_leaveassign}} ({{i+1}})</h3>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/leave.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{leavecategorys[leave.leavecategoryID] }}</h4>
            <ion-text color="secondary" *ngIf="leave.leaveassignday">
              <p>{{leave.leaveassignday }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item class="p-text ion-item-css">
          <ion-avatar style="margin-right: 10px">
            <img src="assets/teacher.png" />
          </ion-avatar>
          <ion-label>
            <h4>{{language?.leaveassign_usertypeID }}</h4>
            <ion-text color="secondary">
              <p>{{usertypes[leave.usertypeID] }}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-card>
  </ng-container>
</ion-content>